<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959214385361-7vgquqfi2sv4gkd5867g4vd7uf0hvphl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959214385361-7vgquqfi2sv4gkd5867g4vd7uf0hvphl</string>
	<key>API_KEY</key>
	<string>AIzaSyBgt2OwF90YKHGHeL_CFvBRVWvDBbokYb8</string>
	<key>GCM_SENDER_ID</key>
	<string>959214385361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seyfulmuluk.Bankey</string>
	<key>PROJECT_ID</key>
	<string>cosport-619eb</string>
	<key>STORAGE_BUCKET</key>
	<string>cosport-619eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959214385361:ios:a6e28f6ec1dd34cca4edf0</string>
</dict>
</plist>